# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

####################
# App ##############
####################
.project
.settings/
go-lang-acme-corp.log
bin/
#pkg/darwin_amd64/*
.DS_Store

####################
# Templates  #######
####################
src/main/staticweb/public/theme/AdminLTE2.3.7/documentation/*
src/main/staticweb/public/theme/AdminLTE2.3.7/build/*
src/main/staticweb/public/theme/AdminLTE2.3.7/bower_components/*
src/main/staticweb/public/theme/AdminLTE2.3.7/node_modules/*
src/main/staticweb/public/theme/AdminLTE2.3.7/vendor/*

